pr: 
  - master 

name: $(date:yyyyMMdd)$(rev:.rr)

stages:
  - stage: build
    jobs:
      - job: build_mediaplatform
        steps:
          - script: dotnet build mediaplatform/MediaPlatform.API/*.csproj
      - job: build_mediaplatform_client
        steps:
          - script: dotnet build mediaplatform_client/MediaPlatformClient.MVC/*.csproj


  - stage: pack
    jobs:
      - job: pack_mediaplatform
        steps:
          - task: Docker@2
            inputs:
              command: login
              containerRegistry: mediaplatform
          - script: |
              docker image build --file .docker/api.dockerfile --tag jbchheav/mediaplatform mediaplatform.MediaPlatform.API
              docker image push jbchheav/mediaplatform
          - task: Docker@2
            inputs:
              command: logout
              containerRegistry: docker
      - job: pack_mediaplatform_client
        steps:
          - task: Docker@2
            inputs:
              command: login
              containerRegistry: docker
          - script: |
              docker image build --file .docker/api.dockerfile --tag jbchheav/mediaplatform_client mediaplatform_client.MediaPlatformClient.MVC
              docker image push jbchheav/mediaplatform_client
          - task: Docker@2
            inputs:
              command: logout
              containerRegistry: docker
  # - stage: deploy

trigger:
  - master
  