networks:
  skynet:

services:
  mvc:
    build:
      context: mediaplatform_client/MediaPlatformClient.MVC
      dockerfile: ../../.docker/client.dockerfile
    image: jesusguerecab/clientproj 
    ports:
      - 5000:80
    networks:
      - skynet
      
  api:
    build:
      context: mediaplatform/
      dockerfile: ../.docker/api.dockerfile
    image: jesusguerecab/apiproj
    ports:
      - 4000:80
    networks:
      - skynet
      
  mssql:
    build:
      context: ./
      dockerfile: .docker/mssql.dockerfile
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Password12345
    networks:
      - skynet

version: "3.7"