networks:
  skynet:

services:
  mvc:
    build:
      context: mediaplatform_client/MediaPlatformClient.MVC
      dockerfile: ../../.docker/client.dockerfile
    image: jesusguerecab/clientproj 
    ports:
      - 5000:80
    networks:
      - skynet
      
  api:
    build:
      context: mediaplatform/MediaPlatform.API
      dockerfile: ../../.docker/api.dockerfile
    image: jesusguerecab/apiproj
    ports:
      - 4000:80
    networks:
      - skynet
    environment:
      ConnectionStrings__main: "server=sql;database=PizzaBoxDb;user id=sa;password=Password12345"
      
  sql:
    image: mcr.microsoft.com/mssql/server:2017-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Password12345
    networks:
      - skynet
    ports:
      - 1433:1433

version: "3.7"