<h1>Hi this is User/index.cshtml!<h1>

@if (ViewBag.Username != null)
{
  <h1>@ViewBag.Username</h1> 
}

<ul>
  <li><a asp-controller="User" asp-action="UserCommunities" asp-route-id="@ViewBag.Username">Communities</a></li>
  <br/>
  <li><a asp-controller="User" asp-action="UserVideos" asp-routeid=@ViewBag.Username>Videos</a></li>
</ul>