@model List<Models.HomeViewModel>

<h1>This is the home index!</h1>

<a asp-controller="Account" asp-action="Login">Login</a>

@foreach (var item in @Model)
{
  <ul>
    <li>@item.Title | @item.UploadedBy | @item.CommunityName</li>
    <li><img src="~/img/grass.jpeg" alt="IMAGES"></li>
  </ul>
}